# Predicting employee turnover w/ Machine Learning Random Forest Model

Dataset: https://www.kaggle.com/datasets/pavansubhasht/ibm-hr-analytics-attrition-dataset

**Tasks:**
1. Import Packages
2. Load in Data
3. Data Wrangling
4. Train Test Split
5. Initial Random Forest Model
6. Evaluate Model Fit
7. Hyperparameter Tuning
8. Re-run Model
9. Run Feature Importance

In [1]:
#Import Packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix

In [2]:
#Load in the Data
hr = pd.read_csv("WA_Fn-UseC_-HR-Employee-Attrition.csv")

In [3]:
hr.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

## Data Wrangling
1. Recode BusinessTravel, Department
2. Drop EducationField & Standard Hours

In [ ]:
hr.BusinessTravel.value_counts()

In [ ]:
hr.Department.value_counts()

In [ ]:
#We can drop standard hours since it only contains one value size
hr.StandardHours.value_counts()

In [ ]:
hr.Education.value_counts()

In [4]:
#Recoding Business Travel
def my_recode(BusinessTravel):
    if BusinessTravel == "Non-Travel":
        return 1
    if BusinessTravel == "Travel_Rarely":
        return 2
    if BusinessTravel == "Travel_Frequently":
        return 3


hr["BusinessTravel"].apply(my_recode)

0       2
1       3
2       2
3       3
4       2
       ..
1465    3
1466    2
1467    2
1468    3
1469    2
Name: BusinessTravel, Length: 1470, dtype: int64

In [5]:
#Recoding Department
def my_recode2(Department):
    if Department == "Human Resources":
        return 1
    if Department == "Sales":
        return 2
    if Department == "Research & Development":
        return 3
hr["Department"].apply(my_recode2)

0       2
1       3
2       3
3       3
4       3
       ..
1465    3
1466    3
1467    3
1468    2
1469    3
Name: Department, Length: 1470, dtype: int64

In [6]:
hr1 = hr.drop("EducationField", axis = 1)

In [7]:
hr2 = hr1.drop("StandardHours", axis = 1)

In [8]:
hr2.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,1,1,2,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,1,2,3,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,1,4,4,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,1,5,4,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,1,7,1,...,3,4,1,6,3,3,2,2,2,2

In [9]:
#Data Wrangling
##Subset data into x and y for training model

x = hr2.drop("Attrition", axis = 1)
y = hr2["Attrition"]

In [10]:
#Train Test Split
## Using 60/40 model for train/test
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.4, random_state=76)

In [11]:
#Initial Random Forest Model
forest = RandomForestClassifier(n_estimators=500, random_state=76)
forest.fit(x_train, y_train)

ValueError: could not convert string to float: 'Travel_Rarely'